<link rel="stylesheet" href="style.css">
<nav >
    <img src="telechargements/téléchargement.png" alt="img test" class="line" />

    <li><a class="active" href="/acceuil">Acceuil</a></li>
    <li><a  class="active" href="/services">Services</a></li>
    <li><a class="active" href="/contact">Contact</a></li>

</nav>




<p>Le terme immobilier vient d’un mot latin qui fait référence à quelque chose qui est lié à la terre de manière indissociable, physiquement et juridiquement.

    C’est-à-dire une structure qui ne peut pas bouger sans causer de dégâts !
    
    Découvrez tout sur la provenance du terme immobilier en lisant cet article rédigé par Arnaud Immo.L<p>



